/*Custom.css file */
p {
  font-weight: 400;
}
blockquote.testimonial p,
blockquote.about-quote p {
  font-size: 17px;
}
.alt-font {
  letter-spacing: 2px;
}
.filter li a {
  letter-spacing: 1px;
}
.form input,
.form select,
.form textarea {
  text-transform: initial;
  font-size: 13px;
}
.form input.input-md {
  font-size: 13px;
}
.service-item {
  margin: 60px 0;
  border: none;
  height: auto;
}
.service-item:hover {
  border: none;
}
.service-item i {
  top: -30px;
  margin-bottom: 0;
}
.service-item h5 {
  top: -30px;
  margin-bottom: 0;
}
.service-item .service-desc {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.service-item .service-desc p {
  font-size: 15px;
}
.contact-item a,
.contact-item h5 {
  color: #777;
}
.contact-item p,
.contact-item a {
  font-family: 'Raleway';
  letter-spacing: 0px;
}
.contact-item span,
.contact-item i {
  font-size: 48px;
  display: block;
  margin-bottom: 20px;
  color: #232323 !important;
}
.main-nav.transparent .inner-nav ul > li > a {
  color: rgba(255,255,255,0.9) !important;
}
.main-nav .inner-nav ul > li > a {
  font-weight: 500;
}
